.dashboard-widget-area {
    margin: 10px 0 30px;
    min-height: 200px;
}

.widget-container {
    float:left;
    display: inline-block;
    width: 33%;
}

.widget {
    margin: 0 1em 1em 0;
    background-color: white;
    border: 2px solid #444;
    border-radius: 5px;
    position: relative;
    height: 100%;
}
.widget-header {
    overflow: hidden;
}
.widget-header .label {
    display: inline-block;
    vertical-align: middle;
}
.widget-header .glyphicon {
    cursor: pointer;
    float: right;
    opacity: 0.5;
    margin-left: 5px;
}
.widget-header .glyphicon:hover {
    opacity: 1;
}
.widget-header .widget-title {
    vertical-align: middle;
}
.widget-header form.widget-title {
    display: inline;
}

.widget-header form.widget-title input.form-control {
    width: auto;
    display: inline-block;
}

.widget-content {
    overflow: hidden;
}

.widget .widget-ew-resizer {
    position: absolute;
    width: 5px;
    right: -2px;
    height:100%;
    top:0;
    cursor: ew-resize;
}

.widget .widget-resizer-marquee {
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}