<div>
    <nvd3-stacked-area-chart
            data="data"
            id="{{id}}"
            xAxisTickFormat="xAxisTickFormat()"
            yAxisTickFormat="yAxisTickFormat()"
            height="250"
            margin="{left: 50, right: 50}"
            useInteractiveGuideline="true"
            transitionDuration="0"
            showLegend="true"
            showXAxis="true"
            showYAxis="true"
            interactive="true"
            tooltips="true"
            showControls="false"
            stacked="true"
            noData="No available data."
            x="xFunction()"
            y="yFunction()"
            objectEquality="true"
            ydomain="[0,1]"
            ng-if="flags.contextAvailable">
        <svg></svg>
    </nvd3-stacked-area-chart>
    <i class="fa fa-line-chart fa-5x widget-icon" ng-if="!flags.contextAvailable"></i>
</div>
