<div>
    <nvd3-stacked-area-chart
            data="data"
            id="{{id}}"
            xAxisTickFormat="xAxisTickFormat()"
            yAxisTickFormat="yAxisTickFormat()"
            height="250"
            margin="{left: 50, right: 50}"
            useInteractiveGuideline="true"
            transitionDuration="0"
            showLegend="true"
            showXAxis="true"
            showYAxis="true"
            interactive="true"
            tooltips="true"
            showControls="false"
            stacked="true"
            noData="Data could not be loaded!"
            x="xFunction()"
            y="yFunction()"
            objectEquality="true"
            ydomain="[0,1]">
        <svg></svg>
    </nvd3-stacked-area-chart>
</div>