<div class="col-md-12">
    <div class="row" style="text-align: center;">
        <p class="lead" ng-if="!ready">Click on the button below to generate your Disk Latency Heat Map! (140 sec)</p>
    </div>
    <div class="row" ng-if="!processing && ready" style="text-align: center;">
        <object data="http://{{host}}:{{port}}/heatmap/heatmap.svg" type="image/svg+xml" style="width:100%; height:auto;"></object>
        <br>
        <a class="btn btn-default pull-right" href="http://{{host}}:{{port}}/heatmap/heatmap.svg" target="_blank">Open in a new Tab</a>
    </div>
    <div class="row">
        <div id="alert-disklatency-error" flash-alert="error" active-class="in alert" class="fade">
            <strong class="alert-heading">Error!</strong>
            <span class="alert-message">{{flash.message}}</span>
        </div>
    </div>
    <div class="row">
        <div id="alert-disklatency-success" flash-alert="success" active-class="in alert" class="fade">
            <strong class="alert-heading">Success!</strong>
            <span class="alert-message">{{flash.message}}</span>
        </div>
    </div>
    <div class="row" style="text-align: center; margin-top: 15px;">
        <button type="button" class="btn btn-primary btn-lg" ng-disabled="processing" ng-click="generateHeatMap()">Generate <i ng-if="processing" class="fa fa-refresh fa-spin"></i></button>
    </div>
</div>
