<div>
	<nvd3-line-chart
    	data="data"
        id="{{id}}"
        xAxisTickFormat="xAxisTickFormat()"
        yAxisTickFormat="yAxisTickFormat()"
        height="250"
        margin="{left: 50, right: 50}"
        useInteractiveGuideline="true"
        transitionDuration="0"
        showLegend="true"
        showXAxis="true"
        showYAxis="true"
        interactive="true"
        tooltips="true"
        noData="Data could not be loaded!"
        x="xFunction()"
        y="yFunction()"
        objectEquality="true">
            <svg></svg>
    </nvd3-line-chart>
</div>
