<div>
	<nvd3-line-chart
    	data="data"
      id="{{id}}"
      xAxisTickFormat="xAxisTickFormat()"
      yAxisTickFormat="yAxisTickFormat()"
      height="250"
      margin="{left: 50, right: 50}"
      useInteractiveGuideline="true"
      transitionDuration="0"
      showLegend="true"
      showXAxis="true"
      showYAxis="true"
      interactive="true"
      tooltips="true"
			noData="No available data."
      x="xFunction()"
      y="yFunction()"
      objectEquality="true"
      forcey="[0,10]"
			ng-if="flags.contextAvailable">
    		<svg></svg>
    </nvd3-line-chart>
		<i class="fa fa-line-chart fa-5x widget-icon" ng-if="!flags.contextAvailable"></i>
</div>
