{
  "presets": [
    "env",
    "react",
    "es2015"
  ],
  plugins: [
    "transform-class-properties",
    "transform-async-to-generator",
    "transform-object-rest-spread",
    [ "transform-runtime", { "polyfill": false, "regenerator": true } ]
  ]
}
