{
  "extends": "eslint:recommended",
  "plugins": ["angular"],
  "rules": {
    "indent": ["warn", 2]
  },
  "env": {
    "browser": true,
    "jasmine": true
  },
  "globals": {
    "angular": true,
    "module": true,
    "inject": true
  }
}
