
<div class="modal-header">
<!--    <button type="button" class="close" data-dismiss="modal">&times;</button>-->
    <h4 class="modal-title">Add Custom Widget</h4>
</div>
<div class="modal-body">
    <!-- Add ng-model, ng-show, ng-disabled, ng-class, ng-change and delay accordingly -->
    <form role="form" name="form">
        <div class="input-group input-group-lg target">
            <span class="input-group-addon custom-input-label">Name</span>
            <input type="text" class="form-control" id="widgetNameInput" name="widgetTitle" data-content="Please enter the name of the custom widget." rel="popover" data-placement="bottom" ng-model="customWidgetOptions.title" required>
        </div>
        <div class="input-group input-group-lg target">
            <span class="input-group-addon custom-input-label">Select Metric</span>
            <!-- ng-repeat to be added to generate metric list and typeahead to be included -->
            <select class="form-control" name="metricName" ng-options="metricMetadata.name for metricMetadata in metricsMetadata track by metricMetadata.name" ng-model="customWidgetOptions.name" required></select>
<!--            <input class="form-control" uib-typeahead="metricMetadata.name for metricMetadata in metricsMetadata" class="form-control"></select>-->
        </div>
        <div class="input-group input-group-lg target">
            <span class="input-group-addon custom-input-label">Data Model Type</span>
            <!-- to be linked -->
            <select id="metricList" ng-model="customWidgetOptions.dataModelType" class="form-control" required>
                <option value="MetricDataModel">MetricDataModel</option>
                <option value="CumulativeMetricDataModel">CumulativeMetricDataModel</option>
                <option value="MultipleMetricDataModel">MultipleMetricDataModel</option>
                <option value="MultipleCumulativeMetricDataModel">MultipleCumulativeMetricDataModel</option>
            </select>
        </div>
        <div class="input-group input-group-lg target">
            <span class="input-group-addon custom-input-label">Group</span>
            <input type="text" class="form-control" id="widgetNameInput" name="groupName" data-content="Please enter the name of the group." rel="popover" data-placement="bottom" ng-model="customWidgetOptions.group" value="Custom" required>
        </div>
        <div class="input-group input-group-lg">
        <button type="button" class="btn btn-lg btn-default">Advanced Options &nbsp; <i class="fa fa-plus-square-o"></i></button>
        <button type="button" class="btn btn-lg btn-default">UI Options &nbsp; <i class="fa fa-plus-square-o"></i></button>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-lg btn-default" data-ng-click="modalOptions.close()">Cancel</button>
    <button type="button" class="btn btn-lg btn-default btn-primary" ng-disabled="form.$invalid" ng-class="{ 'disabled': form.$invalid }" delay="2000" data-ng-click="modalOptions.ok();">Add</button>
</div>