<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
<h3>Widget Options <small>{{widget.title}}</small></h3>
</div>

<div class="modal-body">
    <form role="form" name="customWidgetSettingsForm" novalidate>
        <div class="input-group input-group-lg" nf-if="!metricsMetadata">
            <h4>Vector is not connected to a host. Can't update metric list.</h4>
        </div>
        <div class="input-group input-group-lg target">
            <span class="input-group-addon">Select Metric</span>
            <input
              type="text"
              name="metricName"
              class="form-control"
              uib-typeahead="metricMetadata as metricMetadata.name for metricMetadata in metricsMetadata | filter:{name:$viewValue} | limitTo:8"
              autocomplete="off"
              ng-model="customWidgetSettings.selected"
              ng-change="updateMetric()"
              ng-disabled="!metricsMetadata"
              ng-class="{ 'disabled': !metricsMetadata }"
              required
            >
        </div>
        <div class="input-group input-group-lg">
          <h4>{{ customWidgetSettings.selected['text-oneline'] }}</h4>
        </div>
        <div class="customwidget-checkbox">
          <label>
            <input type="checkbox" ng-model="customWidgetSettings.isCumulative">
            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
            Cumulative Data Model
          </label>
        </div>
        <div class="input-group input-group-lg">
            <button type="button" class="btn pull-right btn-lg btn-default" ng-click="toggleAdvancedOptions()">Advanced Options &nbsp; <i ng-class="{'fa fa-plus-square-o': !state.advancedOptions, 'fa fa-minus-square-o': state.advancedOptions}"></i></button>
          </div>
          <div ng-if="state.advancedOptions">
            <div class="input-group input-group-lg target">
                <span class="input-group-addon">ForceY</span>
                <input type="text" class="form-control" name="forcey" data-content="" rel="popover" data-placement="bottom" ng-model="customWidgetSettings.forcey">
            </div>
            <div class="row">
              <div class="customwidget-checkbox col-md-6">
                <label>
                  <input type="checkbox" ng-model="customWidgetSettings.percentage">
                  <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                  Percentage
                </label>
              </div>
              <div class="customwidget-checkbox col-md-6">
                <label>
                  <input type="checkbox" ng-model="customWidgetSettings.area">
                  <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                  Area
                </label>
              </div>
            </div>
            <div class="row">
              <div class="customwidget-checkbox col-md-6">
                <label>
                  <input type="checkbox" ng-model="customWidgetSettings.isConverted">
                  <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                  Converted Data Model
                </label>
              </div>
            </div>
            <div class="input-group target" ng-if="customWidgetSettings.isConverted">
                <span class="input-group-addon">Conversion Function</span>
                <input type="text" class="form-control" name="strConversionFunction" data-content="" rel="popover" data-placement="bottom" ng-model="customWidgetSettings.strConversionFunction" ng-pattern="/^(.*?(\bvalue\b)[^$]*)$/" required>
            </div>
            <span ng-if="customWidgetSettings.isConverted">Input the variable 'value' and corresponding conversion function</span>
            <!-- 
            <div class="customwidget-checkbox">
              <label>
                <input type="checkbox" ng-model="customWidgetSettings.enableVerticalResize">
                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                Enable Vertical Resize
              </label>
            </div>
            -->
          </div>
    </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="cancel();">Cancel</button>
  <button type="button" class="btn btn-primary" ng-disabled="customWidgetSettingsForm.$invalid" ng-class="{ 'disabled': customWidgetSettingsForm.$invalid }" ng-click="ok()">OK</button>
</div>
