<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
<h3>Widget Options <small>{{widget.title}}</small></h3>
</div>

<div class="modal-body">
    <form role="form" name="customWidgetSettingsForm" novalidate>
        <div class="input-group input-group-lg" nf-if="!metricsMetadata">
            <h4>Vector is not connected to a host. Can't update metric list.</h4>
        </div>
        <div class="input-group input-group-lg target">
            <span class="input-group-addon">Select Metric</span>
            <input
              type="text"
              name="metricName"
              class="form-control"
              uib-typeahead="metricMetadata as metricMetadata.name for metricMetadata in metricsMetadata | filter:{name:$viewValue} | limitTo:8"
              autocomplete="off"
              ng-model="selected"
              ng-change="updateMetric()"
              ng-disabled="!metricsMetadata"
              ng-class="{ 'disabled': !metricsMetadata }"
              required
            >
        </div>
        <div class="input-group input-group-lg">
          <h4>{{ selected['text-oneline'] }}</h4>
        </div>
        <div class="customwidget-checkbox">
          <label>
            <input type="checkbox" ng-model="advOptions.isCumulative">
            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
            Cumulative Data Model
          </label>
        </div>
    </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="cancel();">Cancel</button>
  <button type="button" class="btn btn-primary" ng-disabled="customWidgetSettingsForm.$invalid" ng-class="{ 'disabled': customWidgetSettingsForm.$invalid }" ng-click="ok()">OK</button>
</div>
