<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
  <h3>Widget Options
    <small>{{widget.title}}</small>
  </h3>
</div>

<div class="modal-body">
  <form role="form" name="customWidgetSettingsForm" novalidate>
    <div class="input-group" ng-if="!metricsMetadata" style="margin-left: 2px;">
      <strong>Vector is not connected to a host. Can't update metric list.</strong>
    </div>
    <br/>
    <div class="input-group target">
      <span class="input-group-addon">Select Metric</span>
      <input
        type="text"
        name="metricName"
        class="form-control"
        uib-typeahead="metricMetadata as metricMetadata.name for metricMetadata in metricsMetadata | filter:{name:$viewValue} | limitTo:8"
        autocomplete="off"
        ng-model="customWidgetSettings.selected"
        ng-change="updateMetric()"
        ng-disabled="!metricsMetadata"
        ng-class="{ 'disabled': !metricsMetadata }"
        required
      >
    </div>
    <div class="input-group" style="margin-left: 2px;">
      <strong>{{ customWidgetSettings.selected['text-oneline'] }}</strong>
    </div>
    <br/>
    <div class="input-group" style="margin-left: 2px;">
        <p ng-click="toggleAdvancedOptions()"><i ng-class="{'fa fa-caret-down': !state.advancedOptions, 'fa fa-caret-up': state.advancedOptions}"></i> <strong>Advanced Options</strong></p>
    </div>
    <div ng-if="state.advancedOptions">
      <div style="margin-left: 2px;">
        <input type="checkbox" ng-model="customWidgetSettings.percentage">
        <label>Percentage</label>
      </div>
      <div style="margin-left: 2px;">
        <input type="checkbox" ng-model="customWidgetSettings.area">
        <label>Area</label>
      </div>
      <div style="margin-left: 2px;">
        <input type="checkbox" ng-model="customWidgetSettings.isCumulative">
        <label>Cumulative Metric</label>
      </div>
      <div style="margin-left: 2px;">
        <input type="checkbox" ng-model="customWidgetSettings.isConverted">
        <label>Converted Data Model</label>
      </div>
      <div class="input-group target" ng-if="customWidgetSettings.isConverted">
        <span class="input-group-addon">Conversion Function</span>
        <input type="text" class="form-control" name="strConversionFunction" data-content="" rel="popover" data-placement="bottom"
          ng-model="customWidgetSettings.strConversionFunction" ng-pattern="/^(.*?(\bvalue\b)[^$]*)$/" required>
      </div>
      <div class="input-group" ng-if="customWidgetSettings.isConverted" style="margin-left: 2px;">
        <strong>Input the variable 'value' and corresponding conversion function.</strong>
      </div>
      <br/>
      <div class="input-group target">
        <span class="input-group-addon">Force Y Axis</span>
        <input type="text" class="form-control" name="forcey" data-content="" rel="popover" data-placement="bottom" ng-model="customWidgetSettings.forcey">
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="cancel();">Cancel</button>
  <button type="button" class="btn btn-primary" ng-disabled="customWidgetSettingsForm.$invalid" ng-class="{ 'disabled': customWidgetSettingsForm.$invalid }"
    ng-click="ok()">OK</button>
</div>

