<div>
    <i class="fa fa-line-chart fa-5x widget-icon" ng-hide="flags.contextAvailable"></i>
    <table ng-show="flags.contextAvailable && tableRows.length > 0" class="table table-condensed table-striped">
        <thead>
            <tr>
                <th ng-class="tableCssClass[$index]" ng-repeat="header in tableHeader">{{header}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in tableRows track by $index">
                <td ng-class="tableCssClass[$index]" ng-repeat="col in row track by $index">{{col}}</td>
            </tr>
        </tbody>
    </table>
</div>
